html {
  height: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top left, #F0f0FF, #fff);
}

.hidden {
  display: none!important;
}

.task-item,
.new-task-item {
  margin: 5px 0;
  display: block;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0 5px 15px;
  background-color: rgba(20, 30, 40, 0.1);
}

.task-header {
  .task-title {
    cursor: pointer;
    padding: 13px 0;
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
  }

  .task-actions {
    display: inline-block;
    text-align: right;
    padding: 0 5px;
    width: 30%;
    box-sizing: border-box;
  }

  .task-actions {
    .action {
      cursor: pointer;
      display: inline-block;
      padding: 13px 7px;
      border: 1px solid rgba(0,0,0,0.24);
      border-radius: 4px;
      
      &:hover {
        background-color: #C8DCF0;
      }
    }
  } 
  
  .form-hidden {
    display: none;
  }
  
  .form-visible {
    display: inline-block;
    width: 70%;
  }
}

.new-task-item {
  padding: 0;
}

.new-task-item input,
.task-header input[type=text] {
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.24);
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: 13px 0;
  color: rgba(0, 0, 0, 0.9);
}

.new-task-item input::-webkit-input-placeholder,
.task-header input[type=text]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.new-task-item input:-moz-placeholder,
.task-header input[type=text]:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
}

.new-task-item input::-moz-placeholder,
.task-header input[type=text]::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
}

.new-task-item input:-ms-input-placeholder,
.task-header input[type=text]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.new-task-item input:focus,
.task-header input[type=text]:focus {
  background-color: rgba(255, 255, 255, 0.7);
}