<!--<md-list>
            <task-item *ngFor="let task of project.features;let isLastItem = last" [task]="task" [is-last]="isLastItem"></task-item>
        </md-list>
        
        <hr />-->

<md-list>
    <md-list-item>
        <h3 md-line>{{ project.name }} ({{ tasks.length }} tasks)</h3>
        <button md-icon-button (click)="viewProject(project)">
            <md-icon>more_vert</md-icon>
        </button>
    </md-list-item>
    
    <md-list-item
        *ngFor="let task of tasks"
        class="level-{{ task.level }}"
        [class.hidden]="!task.visible">
        <!--<md-icon md-list-avatar style="height: auto;">reorder</md-icon>-->
        <h4 (click)="toggleVisibilty(task)" md-line>
            <span class="spacer-{{ task.level }}"></span>{{ task.title }}</h4>
        <p md-line style="color: #999;" *ngIf="task.subtasks">
            {{ task.subtasks.length }} subtasks
        </p>
        <button md-icon-button>
            <md-icon>chevron_right</md-icon>
        </button>
    </md-list-item>
</md-list>