<div class="task-item">
    <div class="task-header">
        <span class="task-title" [class.hidden]="isEditMode" (click)="startEdit();titleInput.focus()">{{ task.title }}</span>
        <form (ngSubmit)="confirmEdit()" [class.form-visible]="isEditMode" [class.form-hidden]="!isEditMode">
            <input type="text" placeholder="Task title" ref-titleInput [(ngModel)]="newTitle" (keyup)="onTitleEditKeyUp($event)" (blur)="confirmEdit()" />
        </form>
        <div class="task-actions">
            <span class="action" (click)="subtasksVisible = !subtasksVisible" *ngIf="task.subtasks && task.subtasks.length > 0">{{ subtasksVisible ? 'Hide' : 'Show' }} Subtasks ({{ task.subtasks.length }})</span>
            <span class="action" (click)="newTaskVisible = !newTaskVisible">{{ newTaskVisible ? 'Cancel' : 'New' }}</span>
        </div>
    </div>
    <div *ngIf="subtasksVisible">
        <task-item *ngFor="let subtask of task.subtasks;let isLastItem = last" [is-last]="isLastItem" [task]="subtask"></task-item>
    </div>
    <new-task-item *ngIf="newTaskVisible" [(parent-item)]="task"></new-task-item>
</div>